<?xml version="1.0" ?>

<launch>
    <!-- setup initial robot pose -->
    <arg name="x" default="2.000" />
    <arg name="y" default="4.000" />
    <arg name="z" default="0.000" />
    <arg name="roll" default="0.080" />
    <arg name="pitch" default="0.000" />
    <arg name="yaw" default="-1.57075" />
    
    <!-- include robot joint/state publisher launch file -->
    <include file="$(find ryabot)/launch/robot_description.launch" />
    
    <!-- setup world file -->
    <arg name="world_file" default="$(find ryabot)/world/rya_geometric_2.world" />
    
    <!-- launch gazebo world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="use_sim_time" value="true" />
        <arg name="debug" value="false" />
        <arg name="gui" value="true" />
        <arg name="world_name" value="$(arg world_file)" />
    </include>

    <!-- setup robot description -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find ryabot)/urdf/ryabot.xacro'" />
    
    <!-- spawn ryabot -->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
          args="-urdf -param robot_description -model ryabot
                -x $(arg x) -y $(arg y) -z $(arg z)
                -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)">
    </node>
    
</launch>
